<div class="vh-100 contact-wrapper">
  <div class="vertical-title d-none d-lg-block"><span>Contact</span></div>
  <div class="container">
    <div class="row align-items-center vh-100">
      <div class="col-lg-6 px-lg-5">
        <h2 class="mb-4">Say <span>Hi</span>! Don't be<span> Shy</span>!</h2>

        <p>
          I enjoy discussing new projects and programming challenges. Please
          share as much info as possible so we can get the most out of our first
          catch-up.
        </p>

        <p><span>Montréal</span>, Canada</p>
        <p><a href="mailto:info@micb.dev">info@micb.dev</a></p>
      </div>
      <div class="col-lg-6">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </div>
</div>
