<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><img class="logo" src="../../../assets/img/logo/logo.png" alt=""
    /></a>

    <app-hamburger></app-hamburger>

    <div class="collapse navbar-collapse main-nav" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <ng-container *ngFor="let item of menu">
          <li *ngIf="!item.cta" [ngClass]="{ dropdown: item.en?.dropdown }">
            <a
              [routerLink]="item.en?.link"
              routerLinkActive="active"
              *ngIf="!item.en.dropdown"
            >
              {{ item.en?.title }}</a
            >
            <a
              *ngIf="item.en.dropdown"
              class="dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{ item.en?.title }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subItem of item.en.dropdown">
                <a
                  class="dropdown-item"
                  [routerLink]="item.en.link + subItem.link"
                  >{{ subItem.title }}</a
                >
              </li>
            </ul>
          </li>

          <li *ngIf="item.cta">
            <button *ngIf="item.cta" [routerLink]="item.en?.link">
              {{ item.en?.title }}
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <app-mobile-nav class="d-block d-lg-none"></app-mobile-nav>
</nav>
