<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/"
      ><img class="logo" src="../../../assets/img/logo/logo.png" alt=""
    /></a>

    <app-hamburger></app-hamburger>

    <div class="collapse navbar-collapse main-nav" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <ng-container *ngFor="let item of menu">
          <li *ngIf="!item.cta">
            <a [routerLink]="item.en.link"> {{ item.en.title }}</a>
          </li>
          <li *ngIf="item.cta">
            <button *ngIf="item.cta" [routerLink]="item.en.link">
              {{ item.en.title }}
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <app-mobile-nav class="d-block d-lg-none"></app-mobile-nav>
</nav>
