<div class="overlay" [ngClass]="{ show: mobile.getState() }">
  <div
    class="mobile-wrapper d-flex flex-column justify-content-between align-items-center"
    [ngClass]="{ show: mobile.getState() }"
  >
    <span></span>
    <ul>
      <li *ngFor="let item of menu">
        <a class="" [routerLink]="item.en.link">{{ item.en.title }}</a>
      </li>
    </ul>
    <div class="footer">
      <div class="socials">
        <ul class="d-flex justify-content-around align-items-center mx-4">
          <li *ngFor="let social of socials">
            <a [href]="social.url" target="_blank" ref="noreferrer noopener">
              <img
                class="icons"
                [src]="'../../../assets/img/icons/' + social.name + '.svg'"
                (mouseover)="social.name = social.name + '-main'"
                (mouseout)="
                  social.name = social.name.substring(0, social.name.length - 5)
                "
                [alt]="social.name"
            /></a>
          </li>
        </ul>
      </div>
      <div class="copyrights">
        © Michael Babin {{ year }}. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
