<div class="overlay" [ngClass]="{ show: mobile.getState() }">
  <div
    class="mobile-wrapper d-flex flex-column justify-content-between align-items-center"
    [ngClass]="{ show: mobile.getState() }"
  >
    <span class="logo-placeholder"></span>
    <ul
      class="d-flex flex-column justify-content-center align-items-center mobile-links"
    >
      <li
        *ngFor="let item of menu"
        [ngClass]="{ ' dropdown': item.en?.dropdown }"
      >
        <a
          [routerLink]="item.en?.link"
          routerLinkActive="active"
          *ngIf="!item.en.dropdown"
        >
          {{ item.en?.title }}</a
        >
        <a
          *ngIf="item.en.dropdown"
          class="dropdown-toggle"
          (click)="item.dropped = !item.dropped"
          >{{ item.en?.title }}
        </a>
        <ul class="dropdown-mobile" [ngClass]="{ 'dropped ': item.dropped }">
          <li *ngFor="let subItem of item.en.dropdown">
            <a
              class="dropdown-item"
              [routerLink]="item.en.link + subItem.link"
              >{{ subItem.title }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer">
      <div class="socials">
        <ul class="d-flex justify-content-around align-items-center">
          <li *ngFor="let social of socials">
            <a [href]="social.url" target="_blank" ref="noreferrer noopener">
              <img
                class="icons"
                [src]="'../../../assets/img/icons/' + social.name + '.svg'"
                (mouseover)="social.name = social.name + '-main'"
                (mouseout)="
                  social.name = social.name.substring(0, social.name.length - 5)
                "
                [alt]="social.name"
            /></a>
          </li>
        </ul>
      </div>
      <div class="copyrights">
        © Michael Babin {{ year }}. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
