.home-wrapper {
  background: url(../img/home/bg.jpeg) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-cta {
  transform: translateX(-405px);
  span {
    transition: all $short-tran ease-in;
    font-size: 1.25rem;
  }

  &::before {
    content: "";
    background-color: $bg-contrast;
    height: 1px;
    width: 400px;
    transform: translateX(-20px);
  }

  &:hover {
    span {
      color: $main-color;
      transition: all $short-tran ease-in;
    }
    svg {
      fill: $main-color;
      transition: all $short-tran ease-in;
    }
  }
}

svg {
  fill: $bg-contrast;
  transition: all $short-tran ease-in;
}
