// colors
$main-color: #4190d5;
$main-focus: #3c7cb4;
$secondary-color: #49c4a8;
$menu-color: #888888;
$bg-contrast: #f1f1f1;
$bg-contrast-focus: #f3f3f3;
$bg-color: #1b1b1b;

$backdrop: #1b1b1b3d;

// fonts families
$font-main: "Poppins", sans-serif;
$font-secondary: "Montserrat", sans-serif;
// font-size
$nav-font-size: 1rem;

// border-radius
$button-radius: 0;

// transition
$short-tran: 0.25s;

// box-shadow
$mobile-shadow: rgba(0, 0, 0, 0.4) 3px 3px 30px;

// logo
$logoheight: 4rem;
